
.ui-icon-waterwell:after{
    background-image: url("images/my-icons-png/512_large_2.2.png");
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius:0px!important;
    -moz-border-radius:0px!important;
    -webkit-border-radius:0px!important;
    -ms-border-radius:0px!important;
    -o-border-radius:0px!important;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.ui-icon-hand:after {
    background: url("images/my-icons-png/512_hand_2.1.png");
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius:0px!important;
    -moz-border-radius:0px!important;
    -webkit-border-radius:0px!important;
    -ms-border-radius:0px!important;
    -o-border-radius:0px!important;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.ui-icon-flywheel:after {
    background: url("images/my-icons-png/512_fly_2.1.png");
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius:0px!important;
    -moz-border-radius:0px!important;
    -webkit-border-radius:0px!important;
    -ms-border-radius:0px!important;
    -o-border-radius:0px!important;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.ui-icon-pedal:after {
    background: url("images/my-icons-png/512_pedal_2.1.png");
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius:0px!important;
    -moz-border-radius:0px!important;
    -webkit-border-radius:0px!important;
    -ms-border-radius:0px!important;
    -o-border-radius:0px!important;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.ui-icon-watertap:after {
    background: url("images/my-icons-png/512_tap_2.1.png");
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius:0px!important;
    -moz-border-radius:0px!important;
    -webkit-border-radius:0px!important;
    -ms-border-radius:0px!important;
    -o-border-radius:0px!important;
    box-shadow: none;
    -webkit-box-shadow: none;
}

input[type="hidden"] {
    visibility: hidden;
}

.hidden {
    display: none;
}

.ui-page
{
    background: transparent !important;
}
body {
    background: url("images/bg/SON_00230_ott.jpg");
    background-size: 101% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
}

/*Background Full Screen Image if the document is smaller than 300 pixels wide*/
@media screen and (max-width: 300px) {
   body {
        background: url("images/bg/SON_00230_ott.jpg");
        background-size: 101% auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center center;
   }
}
@media screen and (orientation: portrait) {
   body {
        background: url("images/bg/SON_00230_ott.jpg");
        background-size: auto 101%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center center;
   }
}

.red-btn {
   background: orangered !important;
   color:#ffffff !important;
}​

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow: 0 0px 0 #f3f3f3;
}

progress::-webkit-progress-bar-value {
  -webkit-appearance: none;
  background: orangered;
}

.meter { 
    height: 20px;  /* Can be anything */
    position: relative;
    background: #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(51, 136, 204);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

#custom-border-radius .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

.ui-btn-icon-notext.ui-corner-all.ui-mm-icon {
    border: 0px;
    background-color: rgba(233, 233, 233 .9);
}

.h2om-color {
    background-color: rgb(113, 201,242);
    background-color: #71C9F2;
}

.rasmata-color {
    background-color: rgb(244,149,14);
    background-color: #F4950E;
}

.jquery-mob-color {
    background-color: rgb(51,136,204);
    background-color: #38c;
}

.help {
    display:none;
    font-size:90%;
}
input:focus + .help {
    display:inline-block;
}

